<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>423381336794-ctjkac2v6cjdqpo9tb4k3afr8jq5u2df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.423381336794-ctjkac2v6cjdqpo9tb4k3afr8jq5u2df</string>
	<key>API_KEY</key>
	<string>AIzaSyDwAXr62lOdflCMaODX69KJ7hg6mGR5n_I</string>
	<key>GCM_SENDER_ID</key>
	<string>423381336794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.EVBAS</string>
	<key>PROJECT_ID</key>
	<string>emergency-system-eb0f8</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-system-eb0f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423381336794:ios:82562886dcefd092af5be3</string>
	<key>DATABASE_URL</key>
	<string>https://emergency-system-eb0f8-default-rtdb.firebaseio.com</string>
</dict>
</plist>